.RankingButton{
    position: fixed;
    bottom: 48px;
    left: 48px;

    height: 50px;
    width: 50px;

    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: var(--main-color);
    cursor: pointer;
}

.RankingButton .icon{
    width: 100%;
    height: 100%;

    background: url("../../icons/trophy.png") no-repeat center;
    background-size: cover;
}

.Ranking{
    width: 600px;
    height: 400px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    border-radius: 10px;
    background: var(--background-color);

    position: relative;
}

.Ranking .close{
    position: absolute;
    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    background: url("../../icons/close.png")  no-repeat center;
    background-size: cover;
    filter: invert();
}

.RankingTable{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    overflow-y: scroll;
}

.RankingTable table{
    width: 100%;
}

.RankingTable td {
    width: 25%;
    padding: 16px;
    text-align: center;
}

.RankingTable tr{
    justify-content: space-evenly;
    cursor: pointer;
}

.RankingTable tbody tr:nth-child(odd) {
    background-color: var(--table-second-color);
}

.index{
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}

.index._1{
    background: #ffb547;
}

.index._2{
    background: #989898;
}

.index._3{
    background: #995f24;
}