.Profile{
    width: 100%;
    padding-bottom: 24px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.UserInfo{
    width: 90%;
    padding-bottom: 16px;

    display: flex;
    justify-content: space-around;
    gap: 24px;

    border-bottom: 1px solid var(--main-color);
}

.UserInfo .user-image{
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;
    transition: 1s;
}

.user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.UserInfo .user-image:hover{
    scale: 2.5;
}

.UserInfo .user-data{
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TestsChart{
    width: 100%;
}

.TestsTable{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.TestsTable table{
    width: 100%;
}

.TestsTable td {
    width: 25%;
    padding: 16px;
    text-align: center;
}

.TestsTable tbody tr:nth-child(odd) {
    background-color: var(--table-second-color);
}

.no-tests{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
