.Test {
    width: 100%;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    position: relative;
}

.TestResult{
    width: 100%;

    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.TestResult > div{
    width: 50%;
    padding: 24px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.TestResult .score{
    font-size: 72px;
}


.test-timer{
    font-size: var(--test-timer-font-size);
}

.test-timer.small{
    align-self: flex-start;
    font-size: var(--test-tokens-font-size);
}

.control-row {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-row input {
    width: 90%;
    height: 44px;
    padding: 8px 16px;

    font-size: 16px;
    font-weight: bold;
    border-radius: 8px 0 0 8px;
}

.control-row button {
    width: 10%;
    height: 44px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    border: 2px solid var(--main-color);
    border-radius: 0 8px 8px 0;

    background: url("../../icons/restart.svg")  no-repeat center;
    background-size: 30%;
    transition: 1s;

    cursor: pointer;
}

.control-row button:focus{

}

.TestConfiguration{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.TestConfiguration .config-row{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.TestConfiguration .config-row .option{
    cursor: pointer;
}

.TestConfiguration .config-row .option.selected {
    color: var(--highlight-color);
}

.TestTokens {
    width: 100%;
    padding: 24px 32px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;

    background: var(--test-tokens-box-background-color);
    border-radius: 8px;
}

.TestTokens .tokens-line{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Token {
    padding: 4px 8px;
}

.Token.current {
    background: var(--test-current-token-background-color);
    border-radius: 8px;
}

.Token.wrong {
    border-bottom: 1px solid var(--test-symbol-mistake-color);
}

.Symbol {
    font-size: var(--test-tokens-font-size);
    color: var(--test-symbol-color);
}

.Symbol.correct {
    color: var(--test-symbol-correct-color);
}

.Symbol.mistake {
    color: var(--test-symbol-mistake-color);
}

.Symbol.excessive {
    color: var(--test-symbol-excessive-color);
}

@media screen and (max-width: 600px) {
    .control-row input{
        width: 80%;
    }

    .control-row button{
        width: 20%;
    }
}