:root {
    /* Interface */
    --main-color: #fff;
    --highlight-color: #df972c;
    --background-color: #303538;
    --table-second-color: #535b5b;

    /* Test */
    --test-timer-font-size: 84px;
    --test-tokens-font-size: 22px;
    --test-current-token-background-color: #4242427A;
    --test-tokens-box-background-color: #0000002C;
    --test-symbol-color: #c8c8c8a5;
    --test-symbol-correct-color: #fff;
    --test-symbol-mistake-color: #ff0000;
    --test-symbol-excessive-color: #ff5100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    text-decoration: none;
    list-style: none;
    color: var(--main-color);
}

body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
